[submodule "roles/cmdline"]
	path = roles/cmdline
	url = https://github.com/escalate/ansible-raspberry-cmdline.git
[submodule "roles/common"]
	path = roles/common
	url = https://github.com/escalate/ansible-raspberry-common.git
[submodule "roles/coredns"]
	path = roles/coredns
	url = https://github.com/escalate/ansible-raspberry-coredns-docker.git
[submodule "roles/cron"]
	path = roles/cron
	url = https://github.com/escalate/ansible-raspberry-cron.git
[submodule "roles/dhcpcd"]
	path = roles/dhcpcd
	url = https://github.com/escalate/ansible-raspberry-dhcpcd.git
[submodule "roles/docker"]
	path = roles/docker
	url = https://github.com/escalate/ansible-raspberry-docker.git
[submodule "roles/grafana"]
	path = roles/grafana
	url = https://github.com/escalate/ansible-raspberry-grafana-docker.git
[submodule "roles/home_assistant"]
	path = roles/home_assistant
	url = https://github.com/escalate/ansible-raspberry-home-assistant-docker.git
[submodule "roles/influxdb"]
	path = roles/influxdb
	url = https://github.com/escalate/ansible-raspberry-influxdb-docker.git
[submodule "roles/locale"]
	path = roles/locale
	url = https://github.com/escalate/ansible-raspberry-locale.git
[submodule "roles/loki"]
	path = roles/loki
	url = https://github.com/escalate/ansible-raspberry-loki-docker.git
[submodule "roles/msmtp"]
	path = roles/msmtp
	url = https://github.com/escalate/ansible-raspberry-msmtp.git
[submodule "roles/promtail"]
	path = roles/promtail
	url = https://github.com/escalate/ansible-raspberry-promtail-docker.git
[submodule "roles/remote_backup"]
	path = roles/remote_backup
	url = https://github.com/escalate/ansible-raspberry-remote-backup.git
[submodule "roles/smb_mount"]
	path = roles/smb_mount
	url = https://github.com/escalate/ansible-raspberry-smb-mount.git
[submodule "roles/ssh_login"]
	path = roles/ssh_login
	url = https://github.com/escalate/ansible-raspberry-ssh-login.git
[submodule "roles/sshd"]
	path = roles/sshd
	url = https://github.com/escalate/ansible-raspberry-sshd.git
[submodule "roles/swap"]
	path = roles/swap
	url = https://github.com/escalate/ansible-raspberry-swap.git
[submodule "roles/timesyncd"]
	path = roles/timesyncd
	url = https://github.com/escalate/ansible-raspberry-systemd-timesyncd.git
[submodule "roles/telegraf"]
	path = roles/telegraf
	url = https://github.com/escalate/ansible-raspberry-telegraf-docker.git
