[submodule "roles/cmdline"]
	path = roles/cmdline
	url = https://github.com/escalate/ansible-raspberry-cmdline.git
[submodule "roles/common"]
	path = roles/common
	url = https://github.com/escalate/ansible-raspberry-common.git
[submodule "roles/coredns"]
	path = roles/coredns
	url = https://github.com/escalate/ansible-raspberry-coredns-docker.git
[submodule "roles/cron"]
	path = roles/cron
	url = https://github.com/escalate/ansible-raspberry-cron.git
[submodule "roles/dhcpcd"]
	path = roles/dhcpcd
	url = https://github.com/escalate/ansible-raspberry-dhcpcd.git
[submodule "roles/docker"]
	path = roles/docker
	url = https://github.com/escalate/ansible-raspberry-docker.git
[submodule "roles/grafana"]
	path = roles/grafana
	url = https://github.com/escalate/ansible-raspberry-grafana-docker.git
[submodule "roles/home_assistant"]
	path = roles/home_assistant
	url = https://github.com/escalate/ansible-raspberry-home-assistant-docker.git
[submodule "roles/influxdb"]
	path = roles/influxdb
	url = https://github.com/escalate/ansible-raspberry-influxdb-docker.git
[submodule "roles/locale"]
	path = roles/locale
	url = https://github.com/escalate/ansible-raspberry-locale.git
[submodule "roles/loki"]
	path = roles/loki
	url = https://github.com/escalate/ansible-raspberry-loki-docker.git
